<div id="home">
<div id="map-canvas" style="height: 450px; weight:100%">
</div>  

Rutas:
<ul>
<% @routes.each do |tank| %>
  <li>
    Nombre: <%= tank.title %>
  </li>
<% end %>
</ul>

Alchups:
<ul id="alchups">
<% @tanks.each do |tank| %>
  <li data-latitude="<%= tank.latitude %>" data-longitude="<%= tank.longitude %>">
    <%=link_to tank.title, alchup_path(tank) %>
  </li>
<% end %>
</ul>
</div>