<% content_for :title do %>
Ruta <%=@route.title%>
<% end %>
<% content_for :header do %>
  <div class="wrapper">
    <h2><%= link_to image_tag("logo.svg", :width=>"295", :height=>"32"), root_path%></h2><br />
    <p>Descubre los Aljibes de San Esteban de la Litera</p>
  </div><!-- .wrapper -->
  <div class="single-title">
    <h1><%=@route.title%></h1>
  </div>
<% end %>
<p>
  Integer molestie, mauris nec porta viverra, metus purus vehicula quam, et convallis ante est vel quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc placerat ligula at quam molestie, in iaculis orci eleifend. Morbi sit amet hendrerit odio. Suspendisse interdum diam in ligula aliquet scelerisque. Nulla suscipit eget ligula at ullamcorper. Cras lacinia eu nunc at posuere. Integer posuere auctor nulla vitae.
</p>