<h2>¿Qué son los alchups?</h2>

<p>
“Alchup” es la transcripción fonética empleada en la Litera del vocablo aljub utilizado ya en los documentos redactados en castellano en San Esteban de Litera en el 1579. Esta palabra sigue viva en el catalán actual y designa un depósito excavado en la roca o hecho con piedra y cubierto con bóveda para recoger y almacenar el agua de lluvia, aunque en las comarcas vecinas de Lleida son depósitos sin esta cubierta.
</p>
<p>
Tiene su equivalente al aljibe castellano, o cisterna, que es el depósito subterráneo donde se recoge y conserva el agua.
</p>
<p>La particularidad de los “alchups” literanos es que siempre están tallados en la roca arenisca y nunca poseen bóveda que los cubra. Son de planta rectangular y de medidas variables. A los más pequeños se les denomina “cadollas” y no miden más de unos dos metros de largo. Las medidas habituales oscilan entre los 3,5 y los ocho metros de largo; los mayores llegan a los 25 metros, con una anchura de hasta 6 y una profundidad de más de 5 metros.
</p>
<p>
Un “aljub” tipo, mediría unos cinco metros de largo por dos y medio de ancho y dos de hondo. El agua de lluvia es conducida a su interior a través de unas agüeras de longitud diversa según su tamaño y área de captación, que desembocan en sus dos extremos. Tienen una escalera de acceso a su interior para facilitar la recogida de agua a medida que su nivel va descendiendo.
</p>
<p>
Para la buena conservación del agua, precisaban de un esmerado mantenimiento y limpieza periódica para eliminar la tierra, piedras o cualquier elemento que se fuera depositando en ellos así. Se utilizaron principalmente para consumo humano hasta la llegada del agua del Canal de Aragón y Cataluña a principios del siglo XX.
</p>