<!DOCTYPE html>
<html>
<head>
  <title>Alchups de San Esteban de Litera</title>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp">
  </script>
  <%= javascript_include_tag "application" %>
</head>
<body>

<h1>Alchups de San Esteban de Litera</h1>


<%= yield %>
  
</body>
</html>
